@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-size: 100% 78vh, 100% calc(100vh - 90vh);
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #f3f3f3;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:focus-visible {
  outline: none;
  /* Remove the default outline */
}

#__next {
  height: 100%;
}

/* Scrollbar styles for Chrome, Edge, and Safari */
.mobile-scroll::-webkit-scrollbar {
  height: 10px;
}

.mobile-scroll::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 20px;
}

.mobile-scroll::-webkit-scrollbar-thumb {
  background-color: #0e9b18;
  border-radius: 20px;
  border: 3px solid #f3f3f3;

}